APP_NAME=Личные заметки
DESCRIPTION=Сервис для хранения личных заметок.
SECRET=ddfdfdfdfd
FIRST_SUPERUSER_EMAIL=myemail@mail.ru
FIRST_SUPERUSER_PASSWORD=mypassword

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/postgres